#lowerBody{
    display: flex;
    margin: auto;
}

.card {
    margin: 8px;
    width: 23rem;
}

.card-body{
    text-align: center;
}

.col-md-6{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 50px;
}

#footer{
    background-color: black;
    color: white;
}

#navbar{
    background-color: black;
    
    
}
